*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}


img{
    width: 100%;
}

/*CONTAINER*/

.container{
    display: flex;
    flex-direction: row;
}

/*ASIDE*/

.start{
    background-color: black;
    color: lightslategray;
}

.dif-white{
    color: white;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100vh; 
}

aside li{
    line-height: 2;
    list-style: none;
}

.logo-list{
    padding: 10px;
}



/*HEADER*/

header{
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

button{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 15px 20px;
}

/*MAIN*/

main{
    width: 100% -aside;
    background-color: #141922;
    color: white;
    padding: 0 15px;
}


.flex{
    display: flex;
}

nav{
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: #a3a3a3;
    padding: 10px;
}

h6{
    color: #a3a3a3;
    padding: 10px 0;
}

.card-album{
    width: calc(100% / 6);
    padding: 0 15px;
    text-align: center;
}

h2{
    padding: 20px 0;
}


/*FOOTER*/

footer{
    background-color: #282828;
}

.section-end{
    display: flex;
    justify-content: space-between;
}

.end1 img{
    width: 20%;
    padding: 20px;
}

/*
.end1{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */




